$fontFamily: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
$fontColor: #EFEFEF;
$bc: #333333;
$btnc: #64B94C;
$btnRadius: 5px;
$acClr: #ed5565;
$slidrClr: #e1e4e9;
$wrapperMaxWidth: 800px;


body{
  background: $bc;
  color: $fontColor;
  font-family: $fontFamily;
  font-weight: lighter;
}



h1{
  color: $acClr;
  font-weight: normal;
}

h2{
  @extend h1;
  font-size: 2em;
}

h3{
  @extend h1;
  margin-bottom: 5px;
}

a {
  color: $acClr;
  font-weight: lighter;
}



#wrapper{
  max-width: $wrapperMaxWidth;
  margin: 0px auto 0px auto;
}

.entry{
  margin: 30px 0 0 0;

  ul{
    margin: 0 0 0 0;
  }
}

#menu{

  ul{
    padding-left: 0;
    list-style-type: none;

    li{
      display: inline;
      padding-right:.1em;
    }

  }
}